<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.charliefortune.mypa"
        versionCode = "3" 
        version     = "0.1.3" >

    <!-- versionCode is optional and Android only -->

    <name>MyPA</name>

    <description>
        A phonegap project, send gifts to contacts.
    </description>

    <author href="https://charliefortune.com" email="ruari@charliefortune.com">
        Charlie Fortune
    </author>

</widget>
